.checkout-modal-content_position {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .checkout-modal-content {
    border-radius: 0.5rem;
    display: flex;
    background: $white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 25.6875rem;

    a {
      width: 100%;

      button {
        width: 100%;
      }
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 33.75rem;
      padding: 3rem;
    }
  }
}

.checkout_content {
  margin-top: 1.5rem;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    line-height: 1.125;
    margin-bottom: 1.125rem;
    text-transform: uppercase;

    span {
      display: block;
    }

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  p {
    margin-bottom: 1.375rem;
    font-size: 0.9375rem;
    line-height: 1.66;
    color: $text-color;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .content_bought {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-items: stretch;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 3rem;
    }

    .list {
      background: $gray;
      border-radius: 0.5rem;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      flex-basis: 55%;

      @media screen and (min-width: 768px) {
        border-radius: unset;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      ul {
        width: 100%;
        padding-top: 1.5rem;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: 100%;

          .image {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .chkout_list_content {
            width: 100%;

            .list_content {
              display: flex;
              flex-direction: column;
              width: 100%;
              //   gap: .5rem;

              .text {
                display: flex;
                justify-content: space-between;

                h2 {
                  font-size: 0.9375rem;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: $black;
                  margin-bottom: unset;
                }

                h3 {
                  font-size: 0.9375rem;
                  font-weight: bold;
                  align-self: flex-start;
                }
              }
              p {
                margin-bottom: unset;
                font-size: 0.875rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.checkout_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  button {
    background: none;
    color: $text-color;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: initial;
  }
}

.grand-total {
  flex-basis: 45%;
  background: $black;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.9375rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  p {
    text-transform: uppercase;
    color: $textLight;
    margin-bottom: 0.5rem;
  }

  h2 {
    color: $white;
    font-weight: bold;
    font-size: 1rem;
  }

  @media screen and (min-width: 768px) {
    border-radius: unset;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .grand-total {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-this {
    display: flex;
    align-items: flex-end;
  }
}
