.header {
  background-color: $black;
}

.header_content {
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: space-between;

  @media screen and (min-width: 768px) {
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }

  .header_navbar {
    display: flex;
  }

  .header_mobile-nav {
    position: absolute;
    z-index: 22;
    width: 100%;
    left: 0;
    right: 0;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
