.nav-links{

    ul{
        display: flex;
        gap: 2rem;

        .active{
                color: blue;
                a{
                    color: $accent;
                }
            }

        li{


            a{
                font-size: .89rem;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.125em;
                transition: .2s linear;

                 &:hover{
                    color: $accent;
                }
            }
        }
    }
}